<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front end/static/style.css">
    <title>Sistema de notificações</title>
</head>
<body>
    <header>
        <h1>Sistema de notificações</h1>
    </header>
    <main>
        <div id="content-index" class="content-index">
            <div class="titulo">
                <h2>Bem vindo, usuário</h2>
            </div>
            <div class="notificacoes">
                <h3>notificações novas</h3>
                <ul id="notificacoes_novas">
                </ul>
                <h3>notificações antigas</h3>
                <ul id="notificacoes_antigas">
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>E vai tomando</p>
    </footer>
    <script src="/front end/static/script.js"></script>
</body>
</html>